//Colors
$white: #ffffff;
$green: #2ecc71;
$darkBlue: #12699e;
$lightBlue: #3498db;
$darkYellow: #ffc850;
$lightYellow: #ffdc64;
$black: #2e5361;
$lightBlack: #305f72;
$primary: #f18c8e;
$lightPrimary: #f19895;
$midPrimary: #ec8689;
$darkPrimary: #bb7f87;
$gray: #a5b1c2;
$darkGray: #a7a6a6;
$lightGray: #f1f2f6;
$light-pink: #fff1ef;
$light-purple: #f19895;
$purple: #ae94e2;
$dark-purple: #5f179f;
$mid-purple: #b42d76;
$mid-red: #ff5b61;
$dark-orange: #f9ab00;

//Fonts
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700&display=swap"); //Tajawal => font-family: 'Tajawal', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;600&display=swap"); //Cairo => font-family: 'Cairo', sans-serif;

//Media Queries
@mixin media($breakpoint) {
  @if $breakpoint == phone-sm {
    @media only screen and (max-width: 320px) {
      @content;
    }
  }
  @if $breakpoint == phone-md {
    @media only screen and (max-width: 480px) {
      @content;
    }
  }
  @if $breakpoint == phone-lg {
    @media only screen and (max-width: 576px) {
      @content;
    }
  }
  @if $breakpoint == tablet-sm {
    @media only screen and (max-width: 798px) {
      @content;
    }
  }
  @if $breakpoint == tablet-md {
    @media only screen and (max-width: 900px) {
      @content;
    }
  }
  @if $breakpoint == tablet-lg {
    @media only screen and (max-width: 1024px) {
      @content;
    }
  }
  @if $breakpoint == desktop-sm {
    @media only screen and (max-width: 1200px) {
      @content;
    }
  }
  @if $breakpoint == desktop-md {
    @media only screen and (max-width: 1366px) {
      @content;
    }
  }
  @if $breakpoint == desktop-lg {
    @media only screen and (max-width: 1680px) {
      @content;
    }
  }
}

/*
--------------------------
---To use media queries---
--------------------------

@include media(desktop-lg) {
  
}
@include media(desktop-sm) {

}
@include media(tablet-lg) {

}
@include media(tablet-sm) {

}
@include media(phone-lg) {

}
@include media(phone-sm) {

}

*/

/*****************************************/

// Global Styles

body {
  margin: 0;
  padding: 0;
  font-family: "Tajawal", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Tajawal", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

//scrollbar style
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
*::-webkit-scrollbar-track {
  background-color: $white;
}
*::-webkit-scrollbar-thumb {
  background-color: $black;
  border-radius: 10px;
}
/********************************************************/

//Globals

//display flex
@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
/******************************/

@mixin dashLine {
  margin: 50px auto;
  background-image: linear-gradient(
    to right,
    $gray 55%,
    rgba(255, 255, 255, 0) 50%
  );
  background-position: bottom;
  background-size: 8% 2px;
  background-repeat: repeat-x;
  width: 100%;
  height: 2px;
}
/******************************/

.blue-bg {
  background: radial-gradient($lightBlue 0%, #1a4c6e 100%);
}
.pink-bg {
  background: radial-gradient($light-purple 0%, $mid-red 100%);
}
.yellow-bg {
  background: radial-gradient($lightYellow 0%, $dark-orange 100%);
}
.purple-bg {
  background: radial-gradient($purple 0%, $dark-purple 100%);
}
