@import "../../../assets/styles/global";

.signup-container {
  padding: 30px 40px;
  .nav-container {
    display: flex;
    justify-content: space-between;
    .logo-container {
      max-height: 80px;
      img {
        width: 200px;
      }
    }
    .back-button-container {
      width: 10%;
      height: 40px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      background-color: $midPrimary;
      a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        color: $white;
        font-size: 15px;
        font-weight: bold;
        padding: 20px;
        .icon {
          svg {
            font-size: 20px;
            margin-top: 5px;
          }
        }
      }
    }
  }
  .content-container {
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    .instructions-container {
      flex: 0.6;
      .title-container {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        color: $lightPrimary;
        margin-bottom: 20px;
      }
    }
    .form-container {
      width: 30%;
      background-color: $lightPrimary;
      border-radius: 15px;
      box-shadow: 0px 3px 10px $black;
      .sign-up-btn-container {
        text-align: center;
        .text {
          h4 {
            font-size: 18px;
            font-weight: 500;
            color: $white;
          }
        }
        .btn {
          margin: 5% 0;
          a {
            color: $white;
            font-size: 16px;
            font-weight: 400;
            background-color: $lightBlue;
            width: 40%;
            margin: auto;
            border-radius: 7px;
            padding: 6px 20px;
          }
        }
      }
    }
  }
}
