@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;600&display=swap");
/*
--------------------------
---To use media queries---
--------------------------

@include media(desktop-lg) {
  
}
@include media(desktop-sm) {

}
@include media(tablet-lg) {

}
@include media(tablet-sm) {

}
@include media(phone-lg) {

}
@include media(phone-sm) {

}

*/
/*****************************************/
body {
  margin: 0;
  padding: 0;
  font-family: "Tajawal", sans-serif;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Tajawal", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background-color: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #2e5361;
  border-radius: 10px;
}

/********************************************************/
/******************************/
/******************************/
/**********************************/
/**********************************/
.auth-btns-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.auth-btns-container .sign-up-container {
  margin-right: 50px;
}

.auth-btns-container .instruction-text {
  width: 100%;
}

.auth-btns-container .instruction-text h3 {
  font-size: 26px;
  font-weight: 300 !important;
  color: #305f72;
  text-align: center;
}

.auth-btns-container .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  width: 100%;
}

.auth-btns-container .btn-container a {
  width: 250px;
  background: #3498db;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  color: #ffffff;
  border-radius: 30px;
  padding: 5px 10px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  text-align: center;
  font-size: 25px;
}

.auth-btns-container .btn-container a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: -2px 5px 8px rgba(0, 0, 0, 0.3);
          box-shadow: -2px 5px 8px rgba(0, 0, 0, 0.3);
}

.auth-btns-container .btn-container a:active {
  -webkit-transition: none;
  transition: none;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

@media only screen and (max-width: 1200px) {
  .auth-btns-container .auth-btns-container .instruction-text {
    width: 100%;
  }
  .auth-btns-container .auth-btns-container .instruction-text h3 {
    font-size: 23px !important;
  }
  .auth-btns-container .auth-btns-container .btn-container a {
    width: 200px !important;
    padding: 4px 10px;
    font-size: 22px !important;
  }
}

@media only screen and (max-width: 1024px) {
  .auth-btns-container .auth-btns-container .instruction-text {
    width: 100%;
  }
  .auth-btns-container .auth-btns-container .instruction-text h3 {
    font-size: 23px !important;
  }
  .auth-btns-container .auth-btns-container .btn-container a {
    width: 200px !important;
    padding: 4px 10px;
    font-size: 22px !important;
  }
}

@media only screen and (max-width: 900px) {
  .auth-btns-container .auth-btns-container .instruction-text {
    width: 100%;
  }
  .auth-btns-container .auth-btns-container .instruction-text h3 {
    font-size: 18px !important;
  }
  .auth-btns-container .auth-btns-container .btn-container a {
    width: 190px !important;
    padding: 4px 10px;
    font-size: 20px !important;
  }
}

@media only screen and (max-width: 480px) {
  .auth-btns-container .auth-btns-container .instruction-text {
    width: 100%;
  }
  .auth-btns-container .auth-btns-container .instruction-text h3 {
    font-size: 15px !important;
  }
  .auth-btns-container .auth-btns-container .btn-container a {
    width: 100% !important;
    padding: 4px 10px;
    font-size: 16px !important;
  }
}

@media only screen and (max-width: 320px) {
  .auth-btns-container .auth-btns-container .sign-up-container {
    margin-right: 25px !important;
  }
  .auth-btns-container .auth-btns-container .instruction-text {
    width: 100%;
  }
  .auth-btns-container .auth-btns-container .instruction-text h3 {
    font-size: 13px !important;
  }
  .auth-btns-container .auth-btns-container .btn-container a {
    width: 100% !important;
    padding: 4px 10px;
    font-size: 12px !important;
  }
}
/*# sourceMappingURL=style.css.map */