@import "../../../assets/styles/global";

.auth-btns-container{
@include flex;
    width: 100%;
    justify-content: flex-end !important;

    div{
        margin: 25px 45px;
    }
    .instruction-text{
        width: 100%;
        h3{
            font-size: 26px !important;
        font-weight: 300 !important;
        color: $lightBlack;
        text-align: center;
        }
    }
    .btn-container{
        @include flex;
        justify-content: space-evenly;
        margin-top: 30px;
        width: 100%;
        a {
            width: 100%;
            background: $lightBlue;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
            color: $white;
            border-radius: 30px;
            padding: 5px 10px;
            transition: 0.2s ease;
            text-align: center;
            font-size: 25px;
            &:hover {
              transform: scale(1.05);
              box-shadow: -2px 5px 8px rgba(0, 0, 0, 0.3);
            }
            &:active {
              transition: none;
              box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
              transform: scale(0.95);
            }
          }
    }
}