@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;600&display=swap");
/*
--------------------------
---To use media queries---
--------------------------

@include media(desktop-lg) {
  
}
@include media(desktop-sm) {

}
@include media(tablet-lg) {

}
@include media(tablet-sm) {

}
@include media(phone-lg) {

}
@include media(phone-sm) {

}

*/
/*****************************************/
body {
  margin: 0;
  padding: 0;
  font-family: "Tajawal", sans-serif;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Tajawal", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background-color: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #2e5361;
  border-radius: 10px;
}

/********************************************************/
/******************************/
/******************************/
/**********************************/
/**********************************/
.header-container .nav-bar-conatiner {
  background-color: #ffffff;
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-container .nav-bar-conatiner .logo-container img {
  width: 200px;
}

.header-container .nav-bar-conatiner .info-container .notifications-icon {
  cursor: pointer;
}

.header-container .nav-bar-conatiner .info-container .notifications-icon svg {
  color: #a7a6a6;
  font-size: 30px;
}

.header-container .nav-bar-conatiner .info-container .notifications-icon div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: relative;
  background-color: #ec8689;
  top: -30px;
  right: 5px;
  color: #ffffff;
}

.header-container .nav-bar-conatiner .info-container .account-info {
  cursor: pointer;
}

.header-container .nav-bar-conatiner .info-container .account-info .account-img img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-container .nav-bar-conatiner .info-container .account-info .account-name {
  font-size: 13px;
  font-weight: 500;
  color: #a7a6a6;
  text-align: center;
}

.header-container .nav-bar-conatiner .info-container .account-info .arrow-icon svg {
  color: #a7a6a6;
}

.header-container .side-bar-container {
  width: 300px;
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #ffffff;
  z-index: 0;
}

.header-container .side-bar-container .new-lecture-btn {
  border-radius: 10px;
  margin-top: 35%;
}

.header-container .side-bar-container .new-lecture-btn a {
  border-radius: 10px;
  padding: 5px 15px;
  text-decoration: none;
  background: linear-gradient(-45deg, #ffdb64 0%, #ffc850 50%, #f19895 100%);
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  color: #ffffff;
  font-size: 15pt;
  text-align: center;
}

.header-container .side-bar-container .new-lecture-btn a svg {
  margin: 0 10px 0 0;
  color: #ffffff;
  font-size: 26px;
  text-align: center;
}

.header-container .side-bar-container .side-bar-btns {
  margin-top: 20%;
}

.header-container .side-bar-container .side-bar-btns div {
  width: 75%;
  margin: 8px auto;
  border-radius: 10px;
}

.header-container .side-bar-container .side-bar-btns div a.active {
  border-radius: 10px;
  padding: 7px 10px;
  text-decoration: none;
  background: linear-gradient(-45deg, #ffdb64 0%, #ffc850 50%, #f19895 100%);
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  color: #ffffff;
  font-size: 15pt;
  text-align: right;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-container .side-bar-container .side-bar-btns div a.active svg {
  margin: 0 10px;
  width: 25px;
}

.header-container .side-bar-container .side-bar-btns div a.active svg g {
  fill: #ffffff;
}

.header-container .side-bar-container .side-bar-btns div a.active svg g g {
  fill: #ffffff;
}

.header-container .side-bar-container .side-bar-btns div {
  width: 75%;
  margin: 8px auto;
  border-radius: 10px;
}

.header-container .side-bar-container .side-bar-btns div a {
  border-radius: 10px;
  padding: 10px;
  background-color: transparent;
  text-decoration: none;
  border: none;
  outline: none;
  width: 100%;
  color: #2e5361;
  font-size: 15pt;
  text-align: right;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-container .side-bar-container .side-bar-btns div a svg {
  margin: 0 10px;
  width: 25px;
  height: 25px;
}

.header-container .side-bar-container .side-bar-btns div a svg g {
  fill: #2e5361;
}

.header-container .side-bar-container .side-bar-btns div a svg g g {
  fill: #2e5361;
}
/*# sourceMappingURL=style.css.map */