@import "../../../assets/styles/global";

.home-intro-container {
  .header-container {
    max-height: 80px;
    padding: 30px 40px;
    background-color: transparent;
    @include flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    width: 100%;
    .logo-container {
      img {
        width: 200px;
      }
    }
    .auth-btns-container {
      @include flex;
      gap: 60px;
      a {
        background: linear-gradient(-45deg, $darkYellow 0%, $midPrimary 100%);
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
        color: $white;
        border-radius: 30px;
        padding: 5px 30px;
        transition: 0.2s ease;
        text-decoration: none;
        &:hover {
          transform: scale(1.05);
          box-shadow: -2px 5px 8px rgba(0, 0, 0, 0.3);
        }
        &:active {
          transition: none;
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
          transform: scale(0.95);
        }
      }
    }
    .humburger-menu {
      display: none;
    }
  }
  .flex-wrapper {
    display: flex;
    padding-right: 40px;

    .content-container {
      margin-top: 150px;
      width: 50%;
      color: $black;

      & > div {
        margin-bottom: 50px;
        direction: rtl;
      }
      h1 {
        margin-bottom: 10px;
        direction: rtl;
        text-align: right;
        font-size: 25px;
        font-weight: 800;
      }
      h5 {
        line-height: 24px;
        font-weight: 500;
        font-size: 18px;
        direction: rtl;
        text-align: right;
        font-weight: 500;
      }
      // @include media(desktop-sm) {
      //   width: 40%;
      // }
      // @include media(table-lg) {
      //   width: 50%;
      // }
    }
    .shapes-container {
      background-image: url("../../../assets/img/home-intro-shape.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position-x: -10px;
      background-position-y: 0px;
      width: 50%;
      min-height: 70vh;
      padding-top: 150px;
      padding-left: 60px;
      margin-right: auto;
      
      @include flex;
      align-items: flex-start;
      @include media(desktop-sm) {
        width: 60%;
      }
      @include media(tablet-lg) {
        background-image: url("../../../assets/img/home-intro-shape-md.svg");
        background-size: cover;
        width: 50%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-end;
      }
      .illustration-container {
        margin-top: auto;
        margin-right: auto;

        svg {
          width: 350px;
          height: 385px;
          filter: drop-shadow(0px 15px 10px rgba($color: $black, $alpha: 0.2));
        }
        @include media(desktop-sm) {
          margin-bottom: auto;
        }
        @include media(tablet-lg) {
          margin-top: unset;
          margin-bottom: unset;
          margin-left: auto;
          margin-right: unset;

          svg {
            width: 250px;
            height: 250px;
          }
        }
      }
      .teacher-container {
        @include flex;
        flex-direction: column;
        margin-top: 30px;
        img {
          width: 150px;
          height: 150px;
          border-radius: 50%;
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
        }
        h1 {
          color: $white;
          font-size: 20px;
          margin-top: 15px;
        }
      }
    }
  }
  .dash-line {
    @include dashLine;
    @include media(desktop-sm) {
      margin-top: 0;
    }
  }

  @include media(tablet-lg) {
    .dash-line {
      margin-top: 10px;
    }
  }

  @include media(tablet-sm) {
    .header-container {
      .auth-btns-container {
        display: none;
      }
      .logo-container {
        img {
          width: 130px !important;
        }
      }
      .humburger-menu {
        display: block;
        height: fit-content;
        width: 30px;
        display: flex;
        flex-direction: column;
        margin-left: 15px;
        span {
          margin: 2px auto;
          border-top: 3px solid $black;
          width: 25px;
          border-radius: 20%;
        }
        .mid-burger {
          border-top: 4px solid $black;
          width: 100%;
        }
      }
    }

    .flex-wrapper {
      flex-direction: column-reverse;
      padding: 0;
      .shapes-container {
        width: 100% !important;
        padding-left: 0;
        padding-top: 0;
        min-height: 50vh;
        align-items: center;
        .teacher-container {
          h1 {
            color: $black;
          }
        }
      }
      .illustration-container {
        display: none;
      }
      .content-container {
        width: 90%;
        margin: auto;
        .second-div {
          display: none;
        }
      }
    }
  }
}
