@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;600&display=swap");
/*
--------------------------
---To use media queries---
--------------------------

@include media(desktop-lg) {
  
}
@include media(desktop-sm) {

}
@include media(tablet-lg) {

}
@include media(tablet-sm) {

}
@include media(phone-lg) {

}
@include media(phone-sm) {

}

*/
/*****************************************/
body {
  margin: 0;
  padding: 0;
  font-family: "Tajawal", sans-serif;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Tajawal", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background-color: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #2e5361;
  border-radius: 10px;
}

/********************************************************/
/******************************/
/******************************/
/**********************************/
/**********************************/
.home-intro-container .header-container {
  max-height: 80px;
  padding: 30px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 0;
  width: 100%;
}

.home-intro-container .header-container .logo-container img {
  width: 200px;
}

.home-intro-container .header-container .auth-btns-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}

.home-intro-container .header-container .auth-btns-container a {
  background: linear-gradient(-45deg, #ffc850 0%, #ec8689 100%);
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  color: #ffffff;
  border-radius: 30px;
  padding: 5px 30px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.home-intro-container .header-container .auth-btns-container a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: -2px 5px 8px rgba(0, 0, 0, 0.3);
          box-shadow: -2px 5px 8px rgba(0, 0, 0, 0.3);
}

.home-intro-container .header-container .auth-btns-container a:active {
  -webkit-transition: none;
  transition: none;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.home-intro-container .header-container .humburger-menu {
  display: none;
}

.home-intro-container .flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 40px;
}

.home-intro-container .flex-wrapper .content-container {
  margin-top: 150px;
  width: 50%;
  color: #2e5361;
}

.home-intro-container .flex-wrapper .content-container > div {
  margin-bottom: 50px;
  direction: rtl;
}

.home-intro-container .flex-wrapper .content-container h1 {
  margin-bottom: 10px;
  direction: rtl;
}

.home-intro-container .flex-wrapper .content-container h5 {
  line-height: 24px;
  font-weight: 500;
  direction: rtl;
}

.home-intro-container .flex-wrapper .shapes-container {
  background-image: url("../../../assets/img/home-intro-shape.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: -10px;
  background-position-y: -25px;
  width: 50%;
  min-height: 70vh;
  padding-top: 150px;
  padding-left: 60px;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media only screen and (max-width: 1200px) {
  .home-intro-container .flex-wrapper .shapes-container {
    width: 60%;
  }
}

@media only screen and (max-width: 1024px) {
  .home-intro-container .flex-wrapper .shapes-container {
    background-image: url("../../../assets/img/home-intro-shape-md.svg");
    background-size: cover;
    width: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.home-intro-container .flex-wrapper .shapes-container .illustration-container {
  margin-top: auto;
  margin-right: auto;
}

.home-intro-container .flex-wrapper .shapes-container .illustration-container svg {
  width: 350px;
  height: 350px;
  -webkit-filter: drop-shadow(0px 15px 10px rgba(46, 83, 97, 0.2));
          filter: drop-shadow(0px 15px 10px rgba(46, 83, 97, 0.2));
}

@media only screen and (max-width: 1200px) {
  .home-intro-container .flex-wrapper .shapes-container .illustration-container {
    margin-bottom: auto;
  }
}

@media only screen and (max-width: 1024px) {
  .home-intro-container .flex-wrapper .shapes-container .illustration-container {
    margin-top: unset;
    margin-bottom: unset;
    margin-left: auto;
    margin-right: unset;
  }
  .home-intro-container .flex-wrapper .shapes-container .illustration-container svg {
    width: 250px;
    height: 250px;
  }
}

.home-intro-container .flex-wrapper .shapes-container .teacher-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home-intro-container .flex-wrapper .shapes-container .teacher-container img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.home-intro-container .flex-wrapper .shapes-container .teacher-container h1 {
  color: #ffffff;
  font-size: 20px;
  margin-top: 15px;
}

.home-intro-container .dash-line {
  margin: 50px auto;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(55%, #a5b1c2), color-stop(50%, rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to right, #a5b1c2 55%, rgba(255, 255, 255, 0) 50%);
  background-position: bottom;
  background-size: 8% 2px;
  background-repeat: repeat-x;
  width: 100%;
  height: 2px;
}

@media only screen and (max-width: 1200px) {
  .home-intro-container .dash-line {
    margin-top: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .home-intro-container .dash-line {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 798px) {
  .home-intro-container .header-container .auth-btns-container {
    display: none;
  }
  .home-intro-container .header-container .logo-container img {
    width: 130px !important;
  }
  .home-intro-container .header-container .humburger-menu {
    display: block;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 15px;
  }
  .home-intro-container .header-container .humburger-menu span {
    margin: 2px auto;
    border-top: 3px solid #2e5361;
    width: 25px;
    border-radius: 20%;
  }
  .home-intro-container .header-container .humburger-menu .mid-burger {
    border-top: 4px solid #2e5361;
    width: 100%;
  }
  .home-intro-container .flex-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 0;
  }
  .home-intro-container .flex-wrapper .shapes-container {
    width: 100% !important;
    padding-left: 0;
    padding-top: 0;
    min-height: 50vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home-intro-container .flex-wrapper .shapes-container .teacher-container h1 {
    color: #2e5361;
  }
  .home-intro-container .flex-wrapper .illustration-container {
    display: none;
  }
  .home-intro-container .flex-wrapper .content-container {
    width: 90%;
    margin: auto;
  }
  .home-intro-container .flex-wrapper .content-container .second-div {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */