@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;600&display=swap");
/*
--------------------------
---To use media queries---
--------------------------

@include media(desktop-lg) {
  
}
@include media(desktop-sm) {

}
@include media(tablet-lg) {

}
@include media(tablet-sm) {

}
@include media(phone-lg) {

}
@include media(phone-sm) {

}

*/
/*****************************************/
body {
  margin: 0;
  padding: 0;
  font-family: "Tajawal", sans-serif;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Tajawal", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background-color: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #2e5361;
  border-radius: 10px;
}

/********************************************************/
/******************************/
/******************************/
.blue-bg {
  background: radial-gradient(#3498db 0%, #1a4c6e 100%);
}

.pink-bg {
  background: radial-gradient(#f19895 0%, #ff5b61 100%);
}

.yellow-bg {
  background: radial-gradient(#ffdc64 0%, #f9ab00 100%);
}

.purple-bg {
  background: radial-gradient(#ae94e2 0%, #5f179f 100%);
}

.lecture-nav-bar-container {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  max-height: 80px;
  padding: 30px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.lecture-nav-bar-container .logo-container img {
  width: 200px;
}

.lecture-nav-bar-container .humburger-menu {
  display: none;
}

.lecture-nav-bar-container .navs-btns-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lecture-nav-bar-container .navs-btns-container div {
  margin: 10px;
}

.lecture-nav-bar-container .navs-btns-container div a {
  background: linear-gradient(-45deg, #ffc850 0%, #ec8689 100%);
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  color: #ffffff;
  border-radius: 5px;
  padding: 5px 30px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.lecture-nav-bar-container .navs-btns-container div a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: -2px 5px 8px rgba(0, 0, 0, 0.3);
          box-shadow: -2px 5px 8px rgba(0, 0, 0, 0.3);
}

.lecture-nav-bar-container .navs-btns-container div a:active {
  -webkit-transition: none;
  transition: none;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.lecture-nav-bar-container .info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  width: 16%;
}

.lecture-nav-bar-container .info-container div {
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 30px;
  color: #ffffff;
}

.lecture-nav-bar-container .info-container div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ec8689;
  padding-left: 15px;
}

.lecture-nav-bar-container .info-container div div div {
  background-color: #ffc850;
  padding: 5px 8px !important;
  margin-left: 10px;
  border: 2px solid #ffdc64;
}

@media only screen and (max-width: 1200px) {
  .lecture-nav-bar-container .info-container {
    width: 18% !important;
  }
}

@media only screen and (max-width: 1024px) {
  .lecture-nav-bar-container .info-container {
    width: 20% !important;
  }
}

@media only screen and (max-width: 900px) {
  .lecture-nav-bar-container .info-container {
    width: 25% !important;
  }
}

@media only screen and (max-width: 798px) {
  .lecture-nav-bar-container .navs-btns-container, .lecture-nav-bar-container .info-container {
    display: none;
  }
  .lecture-nav-bar-container .humburger-menu {
    display: block;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .lecture-nav-bar-container .humburger-menu span {
    margin: 2px auto;
    border-top: 3px solid #ec8689;
    width: 25px;
    border-radius: 20%;
  }
  .lecture-nav-bar-container .humburger-menu .mid-burger {
    border-top: 4px solid #ec8689;
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */