@import "../../../assets/styles/global";

.lecture-nav-bar-container {
  background-color: $white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  max-height: 80px;
  padding: 30px 40px;
  @include flex;
  justify-content: space-between;
  width: 100%;
  .logo-container {
    img {
      width: 200px;
    }
  }
  .humburger-menu {
    display: none;
  }
  .navs-btns-container {
    @include flex;
    div {
      margin: 10px;
      a {
        background: linear-gradient(-45deg, $darkYellow 0%, $midPrimary 100%);
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
        color: $white;
        border-radius: 5px;
        padding: 5px 30px;
        transition: 0.2s ease;
        &:hover {
          transform: scale(1.05);
          box-shadow: -2px 5px 8px rgba(0, 0, 0, 0.3);
        }
        &:active {
          transition: none;
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
          transform: scale(0.95);
        }
      }
    }

  }
  .info-container {
    @include flex;
    justify-content: space-between !important;
    width: 16%;
    div {
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
      border-radius: 30px;
      color: $white;
      div {
        @include flex;

        background-color: $midPrimary;
        padding-left: 15px;

        div {
          background-color: $darkYellow;
          padding: 5px 8px !important;
          margin-left: 10px;
          border: 2px solid $lightYellow;
        }
      }
    }

  }

  @include media(desktop-sm){
    .info-container{
      width: 18% !important;
    }
  }

  @include media(tablet-lg){
    .info-container{
      width: 20% !important;
    }
  }

  @include media(tablet-md){
    .info-container{
      width: 25% !important;
    }
  }
  @include media(tablet-sm){
    .navs-btns-container, .info-container{
      display: none;
    }
    .humburger-menu {
      display: block;
      height: fit-content;
      width: 30px;
      display: flex;
      flex-direction: column;
      span {
        margin: 2px auto;
        border-top: 3px solid $midPrimary;
        width: 25px;
        border-radius: 20%;
      }
      .mid-burger {
        border-top: 4px solid $midPrimary;
        width: 100%;
      }
    }
  }
}
