@import "../../../../../assets/styles/global";

.navigation-container {
  margin: 50px 0;
  .nav-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 30px;

    button {
      display: block;
      width: 140px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      color: $white;
      background-color: $lightBlue;
      border: none;
      font-size: 22px;
      padding: 5px 15px;
      outline: none;
      cursor: pointer;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
      font-weight: 600;
      transform: 0.2s ease;
      &:hover {
        background-color: $darkBlue;
      }
      &:active {
        transform: scale(0.96);
      }
      &.next-btn {
        border-radius: 7px 50px 50px 7px;
      }
      &.prev-btn {
        border-radius: 50px 7px 7px 50px;
      }
      &.not-active {
        background-color: $gray;
        cursor: default;
        &:active {
          transform: none;
        }
      }
    }
    svg {
      width: 60px;
      height: 30px;
    }
  }
}
