@import "../../../assets/styles/global";

.lecture-details-container {
  background: url(../../../assets/img/lecture-details-pink-shape.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: space-around;
  position: relative;
  margin-bottom: 20px;
  height: 50vh;
  .lecture-content {
    width: 60%;
    margin-top: 30px;
    .lecture-main-info {
      display: flex;
      justify-content: space-around;
      .lecture-title {
        h1 {
          font-size: 40px;
          font-weight: bold;
          color: $black;
        }
      }
      .lecture-info {
        @include flex;
        color: $white;
        position: relative;
        width: 30%;
        div {
          @include flex;
          justify-content: space-between !important;
          white-space: nowrap;
          border-radius: 50px;
          position: relative;
          box-shadow: 0px 2px 5px rgba($black, 0.2);
          background-color: $lightBlue;
          width: 45%;
          padding-left: 15px;
          span {
            direction: ltr;
          }
          div {
            width: 100%;
            display: flex;
            justify-content: space-between;
            svg {
              width: 30px;
            }
          }
        }
        .price {
          margin-left: 5px;
          div {
            position: relative;
            right: -1px;
          }
        }
        .time {
          svg {
            position: relative;
            top: -1px;
            right: -2px;
          }
        }
      }
    }
    .lecture-details {
      font-size: 18px;
      color: $black;
      font-weight: 400;
      margin-top: 20px;
    }
  }
  .teacher-info {
    padding: 0px;
    padding-right: 0;
    padding-left: 20px;
    margin: 30px -10px;
    z-index: 3;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      transform: translateX(1px);
    }
    & > div {
      width: 115px;
      border-radius: 50%;
      overflow: hidden;
      margin-inline-end: 8px;
      border: 1px solid $white;
      @include flex;
    }
    p {
      font-size: 18px;
      color: $white;
    }
  }

  @include media(desktop-sm){
    .lecture-content{
      width: 55%;
      .lecture-main-info{
        
      
      .lecture-title{
        h1{
          font-size: 30px !important;
        }
      }
      .lecture-info{
        width: 35%;
      }
    }
    }

  }
  @include media(tablet-lg){
    height: 40vh !important;

    
      .lecture-content{
        .lecture-main-info{
          display: block !important;
        .lecture-info{
          width: 50%;
          margin: 5px;
        }
      }
      }
    
   
  }

  @include media(tablet-md){
     height: 100% !important;
    }

    @include media(tablet-sm){
      display: flex;
      flex-direction: column-reverse;
      margin: auto;
      background-position-y: -50px;
      background-position-x: -50px;
      .lecture-content{
        width: 90% !important;
        margin: 20px;
        .lecture-main-info{
          display: flex !important;
          width: 100%;
          .lecture-info{
            width: 40%;
            margin: 5px;
          }
        }
        .lecture-details{
          font-size: 16px;
          width: 70%;
        }
      }
      .teacher-info{
        margin: 20px;
        p{
          color: $black;
        }
      }
    }

    @include media(phone-lg){
      .lecture-content{
        width: 90% !important;
        .lecture-main-info{
          display: block !important;
          width: 100%;
          margin: auto;
          .lecture-title{
            h1{
              text-align: center;
            }
          }
          .lecture-info{
            width: 50%;
            margin: auto;
          }
        }
        .lecture-details{
          font-size: 16px;
          width: 100%;
        }
      }
      .teacher-info{
        margin: 20px auto;
        p{
          color: $black;
        }
      }
    }

    @include media(phone-md){
      .lecture-content{
        .lecture-main-info{
          .lecture-title{
            h1{
              font-size: 22px !important;
            }
          }
          .lecture-info{
            width: 80%;
          }
        }
      }
    }
    @include media(phone-sm){
      .lecture-content{
        .lecture-main-info{
          .lecture-title{
            h1{
              font-size: 19px !important;
            }
          }
        }
        .lecture-details{
          font-size: 15px;
        }
      }
    }
}
