@import "../../../assets/styles/global";

.landing-page-container{
    .pink-color{
        background-image: url(../../../assets/img/pink-bg-right.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: -80px;
        min-height: 100vh;  
        width: 100%;
        position: absolute;
    }
    .flex-wrapper{
        display: flex;
        padding: 0 40px;
        height: 100vh;
        align-items: center;
        justify-content: space-between;
        .content-container {
            .bold-span{
                font-weight: bold;
                color: $lightBlack;
            }
            h1 {
                font-size: 31px !important;
                font-weight: bold;
                margin-bottom: 10px;
                color: $lightBlack;
            }
            h2{
                font-size: 31px !important;
                font-weight: 400;
                color: $lightBlack;
                width: 60%;
            }
            h5 {
                font-size: 31px !important;
                color: $lightBlack;
                font-weight: 400;
              span{
                color: $midPrimary;
              }
            }
          }
        .shape-container{
            width: 50%;
        }
        .landing-page-shape{
            width: 500px;
            height: 500px;        
        }
    }
    .who-are-you-container{
        width: 65%;
        position: absolute;
        bottom: 0 !important;
        .text-container{
            font-size: 31px !important;
            color: $lightBlack;
            font-weight: 300;  
            text-align: center;  
        }
        .btns-container {
            @include flex;
            justify-content: space-evenly;
            margin: 20px 0;
            a {
            padding: 5px 0px !important;

              width: 23%;
              text-align: center;
              background-color: $lightBlack;
              box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
              color: $white;
                font-weight: 400;
              border-radius: 10px;
                font-size: 25px;
              transition: 0.2s ease;
              &:hover {
                transform: scale(1.05);
                box-shadow: -2px 5px 8px rgba(0, 0, 0, 0.3);
              }
              &:active {
                transition: none;
                box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
                transform: scale(0.95);
              }
            }
          }
    }
    .terms-of-use-container{
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 20px 10px;
        a{
            color: $lightBlack;
            font-size: 18;
            font-weight: 500;
            padding: 0px 10px ;
        }
    }

}