@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;600&display=swap");
/*
--------------------------
---To use media queries---
--------------------------

@include media(desktop-lg) {
  
}
@include media(desktop-sm) {

}
@include media(tablet-lg) {

}
@include media(tablet-sm) {

}
@include media(phone-lg) {

}
@include media(phone-sm) {

}

*/
/*****************************************/
body {
  margin: 0;
  padding: 0;
  font-family: "Tajawal", sans-serif;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Tajawal", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background-color: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #2e5361;
  border-radius: 10px;
}

/********************************************************/
/******************************/
/******************************/
.blue-bg {
  background: radial-gradient(#3498db 0%, #1a4c6e 100%);
}

.pink-bg {
  background: radial-gradient(#f19895 0%, #ff5b61 100%);
}

.yellow-bg {
  background: radial-gradient(#ffdc64 0%, #f9ab00 100%);
}

.purple-bg {
  background: radial-gradient(#ae94e2 0%, #5f179f 100%);
}

.blue-shapes-container {
  width: 311px;
  height: 161px;
  background-image: url(../../../assets/img/teacher-landing-page-small-shapes/blue-shape.svg);
  background-size: cover;
}

.blue-shapes-container .icon-container {
  position: relative;
  text-align: center;
  top: 8%;
  right: 2%;
  margin: 0 auto;
}

.blue-shapes-container .main-text-container {
  text-align: center;
  position: relative;
  top: 20%;
  color: #ffffff;
}

.blue-shapes-container .main-text-container .main-text {
  font-size: 18px;
  font-weight: 400;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blue-shapes-container .secondary-text-container {
  width: 100%;
  position: relative;
  bottom: 5%;
  color: white;
  text-align: center;
  visibility: hidden;
  -webkit-transition: all 0.01s;
  transition: all 0.01s;
}

.blue-shapes-container .secondary-text-container .secondary-text {
  width: 60%;
  margin: 0 auto;
  font-size: 13px;
  font-weight: 400;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.01s;
  transition: all 0.01s;
}

.blue-shapes-container:hover .icon,
.blue-shapes-container:hover .main-text-container {
  visibility: hidden;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.blue-shapes-container:hover .secondary-text-container {
  visibility: visible;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

@media only screen and (max-width: 1200px) {
  .blue-shapes-container {
    width: 280px;
    height: 150px;
  }
  .blue-shapes-container .secondary-text {
    font-size: 10px !important;
  }
}

@media only screen and (max-width: 1024px) {
  .blue-shapes-container {
    width: 240px;
    height: 120px;
  }
  .blue-shapes-container .secondary-text-container {
    top: 8%;
  }
  .blue-shapes-container .secondary-text-container .secondary-text {
    font-size: 10px !important;
  }
  .blue-shapes-container .main-text-container {
    top: 30%;
  }
  .blue-shapes-container .main-text-container .main-text {
    font-size: 14px !important;
  }
  .blue-shapes-container .icon-container img {
    width: 40px !important;
  }
}

@media only screen and (max-width: 900px) {
  .blue-shapes-container {
    width: 240px;
    height: 120px;
  }
  .blue-shapes-container .secondary-text-container {
    top: 8%;
  }
  .blue-shapes-container .secondary-text-container .secondary-text {
    font-size: 10px !important;
  }
  .blue-shapes-container .main-text-container {
    top: 30%;
  }
  .blue-shapes-container .main-text-container .main-text {
    font-size: 14px !important;
  }
  .blue-shapes-container .icon-container img {
    width: 40px !important;
  }
}

@media only screen and (max-width: 798px) {
  .blue-shapes-container {
    width: 240px;
    height: 120px;
  }
  .blue-shapes-container .secondary-text-container {
    top: 8%;
  }
  .blue-shapes-container .secondary-text-container .secondary-text {
    font-size: 10px !important;
  }
  .blue-shapes-container .main-text-container {
    top: 30%;
  }
  .blue-shapes-container .main-text-container .main-text {
    font-size: 14px !important;
  }
  .blue-shapes-container .icon-container img {
    width: 40px !important;
  }
}
/*# sourceMappingURL=style.css.map */