@import "../../../assets/styles/global";

.inputs-container {
  padding-top: 20px;
  width: 100%;
  .title-container {
    text-align: center;
    color: $white;
    font-weight: bold;
    font-size: 18px;
  }
  .input-items-container {
    width: 100%;
    margin-top: 10%;
    .input-item {
      width: 90%;
      margin: auto;
      label {
        color: $white;
        font-weight: 400;
        font-size: 15px;
      }
      .input-feild-container {
        margin: 1% 0 5% 2%;
        input {
          background-color: $white;
          width: 100%;
          padding: 10px 10px;
          border: none;
          outline: none;
          border-radius: 10px;
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        }
      }
    }
    .select-item {
      width: 90%;
      margin: auto;
      label {
        color: $white;
        font-weight: 400;
        font-size: 15px;
      }
      .input-feild-container {
        margin: 1% 0 5% 2%;
        select {
          background-color: $white;
          width: 100%;
          padding: 10px 10px;
          border: none;
          outline: none;
          border-radius: 10px;
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
          option {
            background-color: $white;
            width: 100%;
            padding: 10px 10px;
            border: none;
            outline: none;
            border-radius: 10px;
          }
        }
      }
    }
  }
  .condition-privacy-container {
    width: 90%;
    margin: auto;
    label {
      display: flex;
      justify-content: space-evenly;
      input {
      }
    }
    .text-container {
      width: 85%;
      h4 {
        font-size: 12px;
        font-weight: 400;

        color: $white;
        span {
          color: $black;
        }
      }
      h6 {
        font-size: 6px;
        color: $white;
        font-weight: 400;

        span {
          color: $lightBlue;
        }
      }
    }
  }
  .btn-container {
    width: 55%;
    margin: 7% auto 5% auto;
    button {
      width: 100%;
      background-color: $black;
      border: none;
      outline: none;
      border-radius: 7px;
      padding: 10px 20px;
      color: $white;
      font-size: 18px;
      font-weight: 400;
      cursor: pointer;
    }
  }
}
