@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;600&display=swap");
/*
--------------------------
---To use media queries---
--------------------------

@include media(desktop-lg) {
  
}
@include media(desktop-sm) {

}
@include media(tablet-lg) {

}
@include media(tablet-sm) {

}
@include media(phone-lg) {

}
@include media(phone-sm) {

}

*/
/*****************************************/
body {
  margin: 0;
  padding: 0;
  font-family: "Tajawal", sans-serif;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Tajawal", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background-color: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #2e5361;
  border-radius: 10px;
}

/********************************************************/
/******************************/
/******************************/
/**********************************/
/**********************************/
.header-container {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 30px;
}

.header-container .logo-container img {
  width: 200px;
}

.header-container .navs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-container .navs-container div a {
  border-radius: 10px;
  background-color: #a7a6a6;
  text-align: right;
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
}

.header-container .navs-container div a svg {
  margin: 0 10px;
  width: 25px;
  height: 25px;
  fill: #ffffff;
}

.header-container .navs-container div a svg g {
  fill: #ffffff;
}

.header-container .navs-container div a svg g g {
  fill: #ffffff;
}

.header-container .navs-container div .active {
  background: linear-gradient(-45deg, #f19895 0%, #ffc850 50%, #ffdb64 100%);
}

.header-container .info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.header-container .info-container .notifications-icon svg {
  color: #a7a6a6;
  font-size: 30px;
}

.header-container .info-container .notifications-icon span {
  width: 5px;
  height: 5px;
  left: 30px;
  top: -10px;
  border-radius: 50%;
  position: relative;
  background-color: #ec8689;
  padding: 0px 4px;
  color: #ffffff;
  font-size: 10px;
}

.header-container .info-container .account-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: centerd;
      -ms-flex-align: centerd;
          align-items: centerd;
}

.header-container .info-container .account-info .account-img {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: #fff;
  overflow: hidden;
  margin-left: 15px;
}

.header-container .info-container .account-info .account-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.header-container .info-container .account-name {
  color: #a7a6a6;
}

.header-container .info-container .arrow-icon svg {
  color: #a7a6a6;
}

.header-container .menu {
  position: absolute;
  top: 80px;
  left: 30px;
  background-color: #ffffff;
  z-index: 500;
  padding: 15px;
  border-radius: 10px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-shadow: 0px 2px 10px rgba(46, 83, 97, 0.3);
          box-shadow: 0px 2px 10px rgba(46, 83, 97, 0.3);
}

.header-container .menu .triangle-up {
  width: 0 !important;
  height: 0 !important;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 15px solid #2e5361;
  position: relative;
  top: -30px;
  left: -85%;
  margin: 0;
}

.header-container .menu div {
  margin: 30px 0;
  text-align: right;
}

.header-container .menu div a {
  border-radius: 10px;
  background-color: #a7a6a6;
  text-align: right;
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 18px;
  width: 100%;
  font-weight: 500;
}

.header-container .menu div a svg {
  margin: 0 10px;
  width: 25px;
  height: 25px;
  fill: #ffffff;
}

.header-container .menu div a svg g {
  fill: #ffffff;
}

.header-container .menu div a svg g g {
  fill: #ffffff;
}

.header-container .menu div .res {
  display: none;
}

.header-container .menu div .active {
  background: linear-gradient(-45deg, #f19895 0%, #ffc850 50%, #ffdb64 100%);
}

.header-container .menu .delete-btn a {
  background-color: #ff5b61;
}

@media only screen and (max-width: 1024px) {
  .header-container .menu div .res {
    display: inline;
  }
  .header-container .navs-container {
    display: none;
  }
}

@media only screen and (max-width: 576px) {
  .header-container .logo-container img {
    width: 150px;
  }
  .header-container .info-container .account-name {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */