@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;600&display=swap");
/*
--------------------------
---To use media queries---
--------------------------

@include media(desktop-lg) {
  
}
@include media(desktop-sm) {

}
@include media(tablet-lg) {

}
@include media(tablet-sm) {

}
@include media(phone-lg) {

}
@include media(phone-sm) {

}

*/
/*****************************************/
body {
  margin: 0;
  padding: 0;
  font-family: "Tajawal", sans-serif;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Tajawal", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background-color: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #2e5361;
  border-radius: 10px;
}

/********************************************************/
/******************************/
/******************************/
/**********************************/
/**********************************/
.add-lecture-container {
  background-color: #f1f2f6;
  min-height: 100vh;
  width: 100%;
  padding: 100px 300px 0 0;
}

.add-lecture-container .title {
  text-align: center;
  margin: 50px 00;
}

.add-lecture-container .title h2 {
  font-size: 28px;
  font-weight: bold;
  color: #2e5361;
}

.add-lecture-container .form-container {
  width: 95%;
  margin: auto;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 3px 6px rgba(61, 28, 28, 0.16);
          box-shadow: 0px 3px 6px rgba(61, 28, 28, 0.16);
  border-radius: 10px;
  padding: 20px;
}

.add-lecture-container .form-container .lecture-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.add-lecture-container .form-container .lecture-type span {
  margin: 0 20px;
  font-size: 18px;
  font-weight: 500;
  color: #2e5361;
}

.add-lecture-container .form-container .lecture-type .select-item select {
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 6px rgba(61, 28, 28, 0.16);
          box-shadow: 0px 3px 6px rgba(61, 28, 28, 0.16);
  padding: 10px 30px;
  background-color: #12699e;
  text-align-last: center;
  color: #ffffff;
  border: none;
  outline: none;
  width: 90%;
  -webkit-appearance: none;
}

.add-lecture-container .form-container .lecture-type .select-item span {
  position: relative;
  left: 45px;
  top: 17px;
  -webkit-transform: translateY(-5px) rotate(0deg);
          transform: translateY(-5px) rotate(0deg);
  border: 6px solid transparent;
  border-top: 8px solid #ffffff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transform-origin: 6px 4px;
          transform-origin: 6px 4px;
}

.add-lecture-container .form-container .lecture-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  margin: 20px 0;
}

.add-lecture-container .form-container .lecture-details label {
  display: block;
  text-align: right;
  font-size: 18px;
  font-weight: 500;
  color: #2e5361;
}

.add-lecture-container .form-container .lecture-details input,
.add-lecture-container .form-container .lecture-details textarea {
  display: block;
  border-radius: 5px;
  border: none;
  outline: none;
  -webkit-box-shadow: 0px 3px 6px rgba(61, 28, 28, 0.16);
          box-shadow: 0px 3px 6px rgba(61, 28, 28, 0.16);
  padding: 10px 20px;
  width: 98%;
}

.add-lecture-container .form-container .lecture-details .lecture-title {
  width: 100%;
  display: block;
  margin: 20px 0;
}

.add-lecture-container .form-container .lecture-details .lecture-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 20px 0;
}

.add-lecture-container .form-container .lecture-details .lecture-info .lecture-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 35%;
}

.add-lecture-container .form-container .lecture-details .lecture-info .lecture-time span {
  font-size: 18px;
  font-weight: 500;
  color: #2e5361;
  margin-bottom: 8px;
}

.add-lecture-container .form-container .lecture-details .lecture-info .lecture-time .select-item select {
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 6px rgba(61, 28, 28, 0.16);
          box-shadow: 0px 3px 6px rgba(61, 28, 28, 0.16);
  padding: 10px 35px;
  background-color: #12699e;
  text-align-last: center;
  color: #ffffff;
  border: none;
  outline: none;
  width: 100%;
  -webkit-appearance: none;
}

.add-lecture-container .form-container .lecture-details .lecture-info .lecture-time .select-item span {
  position: relative;
  left: 27px;
  top: 17px;
  -webkit-transform: translateY(-5px) rotate(0deg);
          transform: translateY(-5px) rotate(0deg);
  border: 6px solid transparent;
  border-top: 8px solid #ffffff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transform-origin: 6px 4px;
          transform-origin: 6px 4px;
}

.add-lecture-container .form-container .lecture-details .lecture-info .lecture-price {
  width: 65%;
}

.add-lecture-container .form-container .dash-line {
  margin: 50px auto;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(55%, #a5b1c2), color-stop(50%, rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to right, #a5b1c2 55%, rgba(255, 255, 255, 0) 50%);
  background-position: bottom;
  background-size: 5% 2px;
  width: 50%;
  height: 2px;
}

.add-lecture-container .form-container .files {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.add-lecture-container .form-container .files .upload-new-file {
  text-align: center;
  margin: 20px;
  padding: 15px 30px;
  border-radius: 10px;
  background-color: #a5b1c2;
  -webkit-box-shadow: 0px 3px 6px rgba(61, 28, 28, 0.16);
          box-shadow: 0px 3px 6px rgba(61, 28, 28, 0.16);
  cursor: pointer;
}

.add-lecture-container .form-container .files .upload-new-file div {
  display: block;
}

.add-lecture-container .form-container .files .upload-new-file .icon {
  margin-bottom: 10px;
}

.add-lecture-container .form-container .files .upload-new-file .icon svg {
  color: #ffffff;
  width: 45px;
  height: 45px;
}

.add-lecture-container .form-container .files .upload-new-file .name {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}

.add-lecture-container .form-container .lecture-parts {
  text-align: center;
}

.add-lecture-container .form-container .lecture-parts .lec-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 3px 6px rgba(61, 28, 28, 0.16);
          box-shadow: 0px 3px 6px rgba(61, 28, 28, 0.16);
  width: 100%;
  border-radius: 10px;
}

.add-lecture-container .form-container .lecture-parts .lec-navbar .lec-navs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.add-lecture-container .form-container .lecture-parts .lec-navbar .lec-navs div {
  color: #2e5361;
  background-color: #f1f2f6;
  padding: 10px 20px;
  cursor: pointer;
}

.add-lecture-container .form-container .lecture-parts .lec-navbar .lec-navs .first {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.add-lecture-container .form-container .lecture-parts .lec-navbar .lec-navs .active {
  background-color: #a7a6a6;
  color: #ffffff;
}

.add-lecture-container .form-container .lecture-parts .lec-navbar .add-nav {
  margin-left: 5px;
}

.add-lecture-container .form-container .lecture-parts .lec-navbar .add-nav svg {
  height: 30px;
  width: 30px;
}

.add-lecture-container .form-container .lecture-parts .nav-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  margin: 20px 0;
}

.add-lecture-container .form-container .lecture-parts .nav-details label {
  display: block;
  text-align: right;
  font-size: 18px;
  font-weight: 500;
  color: #2e5361;
}

.add-lecture-container .form-container .lecture-parts .nav-details input,
.add-lecture-container .form-container .lecture-parts .nav-details textarea {
  display: block;
  border-radius: 5px;
  border: none;
  outline: none;
  -webkit-box-shadow: 0px 3px 6px rgba(61, 28, 28, 0.16);
          box-shadow: 0px 3px 6px rgba(61, 28, 28, 0.16);
  padding: 10px 20px;
  width: 98%;
}

.add-lecture-container .form-container .lecture-parts .nav-details .lecture-title {
  width: 100%;
  display: block;
  margin: 20px 0;
}

.add-lecture-container .form-container .upload-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.add-lecture-container .form-container .upload-btn button {
  border: none;
  outline: none;
  text-align: center;
  margin: 20px auto;
  padding: 15px 30px;
  border-radius: 10px;
  background-color: #a5b1c2;
  -webkit-box-shadow: 0px 3px 6px rgba(61, 28, 28, 0.16);
          box-shadow: 0px 3px 6px rgba(61, 28, 28, 0.16);
  cursor: pointer;
  width: 60%;
}

.add-lecture-container .form-container .upload-btn div {
  display: block;
}

.add-lecture-container .form-container .upload-btn .icon {
  margin-bottom: 10px;
}

.add-lecture-container .form-container .upload-btn .icon svg {
  color: #ffffff;
  width: 45px;
  height: 45px;
}

.add-lecture-container .form-container .upload-btn .name {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}
/*# sourceMappingURL=style.css.map */