@import "../../../assets/styles/global";

.lecture-extras-container {
  margin: 30px 40px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  .extras-navs {
    display: flex;
    justify-content: center;
    background-color: $lightGray;
    width: 100%;
    a {
      padding: 20px 15px;
      cursor: pointer;
      color: $black;
      text-decoration: none;
      &:hover {
        color: $white;
        background-color: rgba($gray, 0.5);
      }
    }
    .active {
      color: $white;
      background-color: $gray;
    }
  }
  .navs-content {
    width: 90%;
    margin: auto;
    padding: 10px;
    p {
      font-size: 18px;
      font-weight: 500;
      color: $black;
      text-align: right;
    }

    .files-container {
      display: flex;
      flex-wrap: wrap;
      div {
        margin: 5px;
      }
    }
  }

  @include media(tablet-sm) {
    .navs-content {
      p {
        font-size: 15px;
      }
    }
  }

  @include media(phone-lg) {
    .navs-content {
      p {
        font-size: 12px;
      }
    }
  }
  @include media(phone-md) {
    .extras-navs {
      font-size: 10px;
    }
  }
}
